<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/addCustomer" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <button type="submit" name="submit">Submit</button>
        <!-- <input type="submit" value="SUBMIT"> -->
    </form>
  </body>
</html>
