<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="text-align:center;margin-top:100px"class="container">

      <form class="form-horizontal" action="/customer/edit/<%= data[0].id %>" method="post">
        <input type="text" name="name" class="form-control" value="<%= data[0].name %>"><br>
        <input type="text" name="email" class="form-control" value="<%= data[0].email %>"><br>
        
        <br><button type="submit" name="submit">SIMPAN</button>
      </form>
    </div>
  </body>
</html>
