<!-- row header -->
<div class="row">
  <div class="col-lg-12" id="page-header">
    <div id="title">
      <h1 class="text-success" id="page-header">Warung Card Pay</h1>  
    </div>
    <div id="buttons">
      <a href="/top-up" class="btn btn-danger">Card Top Up</a>
      <a href="/add-customer" class="btn btn-success">Add Member</a>
    </div>
  </div>
</div>
<!-- row header end -->

<hr>